<h1>Hi Admin</h1>

<p><%=@message%></p>

<form action="/admin" method="POST">
	
	Login:                              <br/>
	<input type="text" name="aaa"/>     <br/>

	Password:                           <br/>
	<input type="password" name="bbb"/> <br/>

	<input type="submit"/>	                      
</form>